.item {
    background: $color-primary-light;
    margin-left: 1rem;
    margin-bottom: 1.2rem;
    font-weight: 00;
    border-radius: 0.8rem;
    padding: 0.1rem 2rem;
    border-left: 0.3rem solid $color-black;
    @include customBorderShadow-2;
    animation: moveInBottom 0.8s ease-out;
    cursor: pointer;
    transition: all 0.2s;
    @include animateOnHover;
  
    &--shake {
      @include shakeItem--infinite;
    }
  
    h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 1.8rem;
        text-transform: uppercase;
      }
    }
    p {
      margin-left: 2rem;
      font-size: 1.8rem;
      color: green;
    }
    .fa-times{
      color: red;
      font-size: 1.8rem;
    }
    .fa-bell{
        color:chocolate;
        font-size: 1.8rem;
    }
  }